.title{
    margin-top: 3rem;
}

.para{
    max-width: 600px;
}

.videoTitle{
    font-size: 25pt;
    font-weight: bold;
    margin: 0 0 .5rem;
}

.videoCaption{
    font-size: 18pt;
    font-weight: lighter;
    margin: 0 0 .5rem;
}

.videoContainer{
    float: right;
    border-bottom: solid 2px rgb(51, 51, 51);
    padding-bottom: 7px;
    margin: 0 .75rem .75rem;
}

.videoWapper{
    max-width: 20rem;
    max-height: 15rem;
    overflow: hidden;
}

.video{
    width: 100%;
    height: 100%;
}
